-i https://download.pytorch.org/whl/cu118
torch==2.0.1+cu118 
accelerate
einops
einops_exts
fastapi
gradio
huggingface_hub
markdown2
numpy
open_clip_torch
opencv_python_headless
Pillow
pycocoevalcap
pycocotools
Requests
tqdm
transformers
peft
wandb
openai
wget
gdown
#clip-retrieval 
python-dotenv
